#bxwp-wrap a{
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}

.full-width{
	float: left;
	width: 100%;
}
.column{
	float: left;
	padding-left: 15px;
	padding-right: 15px;
}
.btn{
	color: #fff;
	float: left;
	text-decoration: none;
	padding: 5px 40px;
}
.small-btn{
	font-size: 12px;
}
.btn:hover,.btn:active,.btn:focus{
	text-decoration: none;
	color: #fff;
}
.blue-btn{
	background-color: #4A89DC;
}
.blue-btn:hover,.blue-btn:active,.blue-btn:focus{
	background-color: #2A74D6;
}
.main-title{
	float: left;
	padding-right: 20px;
}
.mt10{
	margin-top: 10px;
}
.slidelist li{
	background-color: #3bafda;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	text-transform: capitalize;
	cursor: pointer;
	-webkit-transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
	-ms-transition:all 0.5s ease;
	transition:all 0.5s ease;
}
.slidelist li span{
	float: left;
	padding-left: 15px;
}
.slidelist li:hover{
	background-color: #269dc9;
}
.edit-icons{
	float: right;
	padding-right: 15px;
}
.edit-icons a{
	float: left;
	color: #fff;
	text-decoration: none;
	font-size: 12px;
	padding-right: 10px;
}
.edit-icons a:hover,.edit-icons a:focus{
	color: #fff;
	text-decoration: none;
}
.edit-icons a span{
	font-size: 15px;
	margin-top: 1px;
	margin-right: -4px;
}
.formslide{
	background-color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.slidelabel{
	font-size: 15px;
	padding-bottom: 5px;
}
.forminput{
	height: 40px;
	font-size: 15px;
	padding-left: 10px;
}
select.forminput{
	height: 40px;
	padding-left: 10px;
}
.form-row{
	padding-bottom: 10px;
}
.publish-slide{
	background-color: #56c046;
	padding: 2px 20px !important;
	margin-right: 10px;
}
.upload-btn-label{
	float: left;
	font-size: 15px;
	padding-right: 15px;
	margin-top: 5px;
}
.upload-btn{
	float: left;
	color: #fff;
	background-color:#3bafda;
	text-decoration: none; 
	height: 30px;
	width: 30px;
}
.upload-btn:hover,.upload-btn:focus{
	background-color: #269dc9;
	color: #fff;
}
.upload-btn span{
	margin-top: 6px;
    margin-left: 4px;
}
.col-12{
	width: 100%;
}


@media only screen and (min-width : 768px){
	.col-8{
		width: 66.66%;
	}
	.col-6{
		width:47%;
	}
}
@media only screen and (max-width : 768px){
	.col-8,.col-6{
		width: 100%;
	}
}